<!DOCTYPE html>
<html>
<head>
    <title>Chatbot</title>
</head>
<body>
    <div style="text-align: center">
        <h1>Chatbot</h1>
        <input type="text" id="user-question" placeholder="Enter your question">
        <button id="submit-button">Submit</button>
        <div id="chat-log"></div>
        <p>This chatbot was developed by Ryan Laxamana, Zack Robertson, and Shane Schipper</p>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#submit-button').on('click', function () {
                var userQuestion = $('#user-question').val();
                $('#chat-log').append('<p><strong>You:</strong> ' + userQuestion + '</p>');
                $('#user-question').val('');
                $.ajax({
                    url: '/get_bot_response',
                    type: 'POST',
                    data: { user_question: userQuestion },
                    success: function (response) {
                        $('#chat-log').append('<p><strong>Chatbot:</strong> ' + response.bot_response + '</p>');
                    }
                });
            });
        });
    </script>
</body>
</html>












